PORT=3001
X_API_KEY=super_secret_rehook_key_123
POSTGRES_URL=postgres://postgres:postgres@localhost:5432/rehook
REDIS_URL=redis://localhost:6379
RETRY_QUEUE_NAME=rehook-delivery-queue
DLQ_QUEUE_NAME=rehook-dlq-queue
NODE_ENV=development
